/*Custom CCS goes here */

/*Center buttons in home.ejs*/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    text-decoration-color: white;
    cursor: pointer;
}


