<div class="container">
  <h1>Welcome to the QFHO Tournament site</h1>  
</div>
<!--Tournament Button-->
<div class="btn">
  
<button type="button" class="btn btn-primary btn-lg"><a href="tournament">Create a Tournament</a></button>
&nbsp;
<button type="button" class="btn btn-secondary btn-lg">Sign Up</button>
</div>

<!--CSS stylesheet-->
<script src="../../../Client/Content/app.css"></script>
