<div class="container">
  <h1>Welcome to the QFHO Tournament site</h1>  
</div>
<!--Tournament Button-->
<div class="vertical-center">
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-secondary btn-lg">Large button</button>
</div>

<!--CSS stylesheet-->
<script src="../../../Client/Content/app.css"></script>
